body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #373b69;
  color: white;
}

.root{
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.movie {
  position: relative;
  background-color: #373b69;
  margin: 1rem;
  width: 340px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
  overflow: hidden;
}

.movie img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.movie-info h3{
  margin: 0;
}

.movie-over{
  background-color: white;
  position: absolute;
  color: #373b69;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgb(0, 0, 0, 0.1);
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over{
  transform: translateY(0%);
}

header{
  display: flex;
  background-color: #565ca1;
  padding: 1rem;
  justify-content: flex-end;
}

.search{
  border: 2px solid #373b69;
  font-family: inherit;
  font-size: 1.2rem;
  border-radius: 50px;
  background-color: transparent;
  padding: 0.5rem 1.5rem; 
  color: white;
}

.search:focus{
  outline: 0;
}

.tag{
  background-color: #565ca1;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bold;
}

.tag.green{
  color: rgb(97, 204, 97);
}
.tag.orange{
  color: orange;
}
.tag.red{
  color: red;
}